body{
    font-family: "Source Sans Pro", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Fjalla One", sans-serif;
    font-weight: normal;
    /*font-style: italic;*/
}

h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

h1{
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    /*text-transform: uppercase;*/
    /*text-decoration: dashed;*/
}

.portfolio{
    background-color: #fafafa;
    padding: 20px;
}

.project{
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-course, .project-date, .project-url{
    margin: 10px 0;
}

.project-description{
    font-size: 20px;
}

.project strong{
    font-family: "Fjalla One", sans-serif;
}


.project-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-details{
    width: 500px;
}

.project-imageContainer{
    width: 500px;
}

h1 strong{
    color: #026fff;
}

.hero h1{
    color: white;
}

.hero{
    height: 300px;
    /*background-image: url("../IMG/hero.jpg");*/
    background-color: #1b2127;
    /*background-size: 500px 300px;*/
    /*background-repeat: no-repeat;*/
    /*background-position-x: right;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header{
    background-color: #1b2127;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.header a{
    color: white;
    text-decoration-line: none;
    display: block;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}

ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

figure{
    margin: 0;
}

.footer{
    color: white;
    background-color: #1b2127 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img{
    vertical-align: middle;
}

.footer a{
    color: white;
}

.event-list{
    display: flex;
    flex-wrap: wrap;
}

.event{
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
}

.event img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description{
    text-align: left;
}
.event-url{
    color: #056fff;
    border: 1px solid ;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.event-list-title{
    margin-left: 20px;
}

.contact{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 10px;
}

.social-link.twitter{
    background-image: url("../IMG/platzi.png");

}

.social-link.facebook{
    background-image: url("../IMG/platzi.png");
}

.social-link.github{
    background-image: url("../IMG/platzi.png");
}

.social-link.instagram{
    background-image: url("../IMG/platzi.png");
}

.form-email input{
    border-color: gray;
    border-radius: 5px;
    border-style: solid;
    padding: 10px 20px 10px 25px;
    background-image: url("../IMG/envelope.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px ;
}

.form-email button{
    display: block;
    margin-top: 10px;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
}

.form-email h3{
    font-family: "Source Sans Pro", sans-serif;
}

.container{
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}